{% extends 'accounts/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<div class="flex flex-col h-screen">
  <div class="flex-grow">
    <div class="p-10 lg:p-20 text-center" data-room-id="{{ room.id }}">
      <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }}</h1>
    </div>

    <div class="lg:w-2/4 mx-4 lg:mx-auto flex-grow p-4 bg-white rounded-xl overflow-y-auto">
      <div class="chat-messages space-y-3" id="chat-messages"></div>
    </div>
  </div>

  <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl mt-4">
    <form method="post" action="." class="flex flex-col" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="content" class="mb-3 p-2 rounded-lg" placeholder="Your message..." id="chat-message-input">
      <input type="file" name="file" id="chat-file" class="mb-3">
      <button class="px-5 py-3 rounded-xl text-white bg-cyan-600 hover:bg-cyan-700" id="chat-message-submit" disabled>Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  const roomID = document.querySelector('[data-room-id]').getAttribute('data-room-id');
  const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
  const userName = JSON.parse(document.getElementById('json-username').textContent);
  const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');

  function openPreview(url) {
    window.open(url, '_blank');
  }

  function getRoomData() {
            $.ajax({
              url: '/rooms/api/v1/admin/api/room/' + roomID + '/',
              type: 'GET',
              success: function(response) {
                console.log('response data:', response.results);
                const roomData = response.results;
                let html = '';

                if (roomData && Array.isArray(roomData)) {
                  roomData.forEach(function(message) {
                    const user = message.user;
                    const isCurrentUser = (user.username === userName);
                    const messageClass = isCurrentUser ? 'sender-message' : 'receiver-message';

                    html += '<div class="message ' + messageClass + '">';
                    html += '<p class="username">' + user.username + '</p>';
                    html += '<p class="content">' + message.content + '</p>';
                    html += '<p class="date">' + message.date_created + '</p>';
                    html += '<span class="onoff">' + message.user_online_status + '</span>';

                    if (message.media_file) {
                      const fileExtension = message.media_file.split('.').pop().toLowerCase();
                      if (fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png' || fileExtension === 'gif') {
                        html += '<div class="media-file"><img src="' + message.media_file + '" alt="Image"></div>';
                        html += '<p class="preview"><a href="#" onclick="openPreview(\'' + message.media_file + '\'); return false;">Open Preview</a></p>';
                      } else if (fileExtension === 'mp4' || fileExtension === 'webm' || fileExtension === 'ogg') {
                        html += '<div class="media-file"><video controls><source src="' + message.media_file + '" type="video/' + fileExtension + '"></video></div>';
                        html += '<p class="preview"><a href="#" onclick="openPreview(\'' + message.media_file + '\'); return false;">Open Preview</a></p>';
                      } else {
                        html += '<p class="media-file"><a href="' + message.media_file + '">Download</a></p>';
                      }
                    }

                    html += '</div>'; // Close the message div
                    html += '<br class="sm:hidden">'; // Add a line break for small screens
                    html += '<div class="clear-both"></div>'; // Add a clearfix div for proper element clearing
                  });
                } else {
                  html += '<p>No messages found.</p>';
                }

                $('#chat-messages').html(html);
                scrollToBottom();
              },
              error: function(error) {
                console.log(error);
              }
            });


  }

  chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log('data:', data); // Check the structure and contents of the data object
    getRoomData();
    scrollToBottom();
  };

  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function(e) {
    const messageInput = e.target.value.trim();  // Trim any leading/trailing whitespace
    const fileInput = document.querySelector('#chat-file');
    const submitButton = document.querySelector('#chat-message-submit');

    if (messageInput.length > 0 || fileInput.files.length > 0) {
      submitButton.disabled = false;  // Enable the button
    } else {
      submitButton.disabled = true;  // Disable the button
    }

    if (e.keyCode === 13 && messageInput.length > 0) {
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function(e) {
    e.preventDefault();

    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value.trim();  // Trim any leading/trailing whitespace
    const fileInput = document.querySelector('#chat-file');
    const file = fileInput.files[0];

    if (file) {
      const reader = new FileReader();
      reader.onload = function(event) {
        const fileData = event.target.result.split(',')[1];
        const fileExtension = file.name.split('.').pop();
        const fileObject = {
          name: file.name,
          type: file.type,
          extension: fileExtension,
          data: fileData
        };
        chatSocket.send(JSON.stringify({
          'message': message,
          'username': userName,
          'room': roomName,
          'media_file': fileObject,
        }));
      };
      reader.readAsDataURL(file);
    } else {
      chatSocket.send(JSON.stringify({
        'message': message,
        'username': userName,
        'room': roomName,
      }));
    }

    messageInputDom.value = '';
    fileInput.value = '';
    document.querySelector('#chat-message-submit').disabled = true;  // Disable the button after sending the message

    return false;
  };

  /**
   * A function for finding the messages element and scrolling to the bottom of it.
   */
  function scrollToBottom() {
    let objDiv = document.getElementById("chat-messages");
    objDiv.scrollTop = objDiv.scrollHeight;
  }

  // Trigger the scroll on load.
  scrollToBottom();

  getRoomData();
</script>

<style>
.message {
  margin-bottom: 10px;
}

.sender-message {
  text-align: right;
  background-color: #e2f0ff;
  padding: 10px;
  border-radius: 5px;
}

.receiver-message {
  text-align: left;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.message .username {
  font-weight: bold;
  margin-bottom: 5px;
}

.message .content {
  margin-bottom: 10px;
}

.media-file {
  margin-top: 10px;
}

.media-file img,
.media-file video {
  max-width: 100%;
  display: block;
  margin-bottom: 5px;
}

.preview {
  margin-top: 5px;
}

.preview a {
  color: #0366d6;
  text-decoration: underline;
}

.clear-both {
  clear: both;
}


</style>
{% endblock %}
