<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}Djangochat</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            .messages {
                height: 400px;
                overflow-y: auto;
            }
            body{
                fontFamily: {font-sans}
            }
        .username {
          text-transform: uppercase;
        }


        </style>
        {% block styles %}
        {% endblock styles %}
    </head>

    <body class="bg-cyan-400">
        <nav class="flex items-center justify-between px-4 py-6 bg-cyan-950">
            <div>
                <a href="/" class="text-xl text-white">Django chat <span class="username text-cyan-400">{{ request.user.username | safe }}</span></a>


            </div>

            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>

                    <a href="{% url 'create_room' %}" class="text-white hover:text-gray-200">room create</a>
                    <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-cyan-600 hover:bg-cyan-700">Log out</a>
                {% else %}
                    <a href="/login/" class="text-white hover:text-gray-200">Log in</a>
            
                    <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-cyan-600 hover:bg-cyan-700">Sign up</a>
                {% endif %}
                <span id="user-online-status" class="text-white">
                  {% if request.user.is_authenticated %}
                    Online
                  {% else %}
                    Offline
                  {% endif %}
                </span>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
        <script>
          // Function to update online status in the UI
          function updateOnlineStatus(online) {
            console.log('Updating online status:', online);

            const statusElement = document.getElementById('user-online-status');
            console.log('Status element:========', statusElement);

            if (statusElement) {
              statusElement.textContent = online ? 'Online' : 'Offline';
              statusElement.classList.toggle('online', online);
            }
          }

          // Establish WebSocket connection
          const socket = new WebSocket('ws://' + window.location.host + '/ws/online/');
          console.log('WebSocket connection:===========', socket);

          socket.onopen = function() {
            console.log('WebSocket connection established');
          };

          socket.onmessage = function(event) {
            console.log('Received WebSocket message:===============', event.data);

            const data = JSON.parse(event.data);
            console.log('Parsed data:===========', data);

            const userId = data.user_id;
            console.log('User ID:=========', userId);

            const online = data.online;
            console.log('Online status:==========', online);

            if (userId) {
              const userElement = document.getElementById(`user-${userId}`);
              console.log('User element:========', userElement);

              if (userElement) {
                userElement.classList.toggle('online', online);
              }
            } else {
              updateOnlineStatus(online);
            }
          };

          socket.onerror = function(error) {
            console.error('WebSocket error:==========', error);
          };

          socket.onclose = function() {
            console.log('WebSocket connection closed====');
          };
        </script>

    </body>
</html>